@import url("https://rsms.me/inter/inter.css");

html {
  font-family: "Inter", sans-serif;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #ccc;
  color: #071723;
}
.box {
  background-color: #f2f2f2;
  border-radius: 8px;
  margin: 20px auto;
  overflow: hidden;
}

.label {
  font-size: 18px;
  font-weight: 600;
}

.header {
  height: 187px;
  padding: 23px 36px;
  width: 100%;
  background: #2f3676;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 0px 0px 140px 100px;
}

.header .title {
  color: rgb(252, 252, 252);
  font-size: 23px;
  font-weight: 300;
}

.header .title span {
  font-weight: bold;
  font-size: 23px;
  line-height: 1.46;
  color: white;
}

.form textarea {
  margin-top: 15px;
  margin-bottom: 16px;
  background: #dde3e9;
  border: 1px solid #2f3676;
  border-radius: 8px;
  color: #071723;
  height: 140px;
  padding: 16px;
  resize: none;
  width: 100%;
  font-size: 14px;
}

.fieldset {
  border: none;
  margin-top: 40px;
  padding: 0 32px;
}

.counter {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-top: 15px;
}
.counter svg {
  cursor: pointer;
  fill: #2f3676;
}

.counter svg:hover {
  fill: #191847;
}

.counter input {
  background: #dde3e9;
  border: 1px solid #222;
  border-radius: 7px;
  font-size: 20px;
  font-weight: bold;
  margin: 0 8px;
  width: 60px;
  height: 42px;
  text-align: center;
}

.footer {
  padding: 32px;
  background: #dde3e9;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.confirmMessage {
  color: #34e121;
  opacity: 0;
  transition: opacity 0.5s linear;
}

.confirmMessage.show {
  opacity: 1;
  pointer-events: none;
}
.footer button {
  cursor: pointer;
  appearance: none;
  background: #2f3676;
  border: 0;
  border-radius: 8px;
  color: #fff;
  padding: 10px;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 8px 32px;
}

.footer button:hover {
  background: #191847;
}

.containerOptions {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-top: 12px;
  cursor: pointer;
  font-size: 16px;
  font-family: Inter;
}

.containerOptions input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #2f3676;
  border-radius: 2px;
}

.containerOptions:hover input ~ .checkmark {
  background-color: #191847;
}

.containerOptions input:checked ~ .checkmark {
  background-color: #2f3676;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.containerOptions input:checked ~ .checkmark:after {
  display: block;
}

.containerOptions .checkmark:after {
  left: 5px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

@media screen and (max-width: 1024px) {
  .box {
    width: 100%;
  }
}

@media screen and (max-width: 320px) {
  .header {
    height: 220px;
  }
}
@media screen and (min-width: 1024px) {
  .box {
    width: 600px;
  }
}
